#root{
    position: relative;
    min-height: 100vh;
    padding-bottom: 77px;
}
body{
    background-image: url(../src/images/main-bg4.png);
}
.home-form-booking{
    background-color: #fff;
    border-bottom: 5px solid #000758;
}
.news-section{
    background-color: grey;
}
.news-section .image-box{
    float: left;
    width: 150px;
}
.news-section .image-box img{
    width: 100%;
    border-style: none;
    box-shadow: 1px 2px 6.5px #a2a2a2;
}

.news-section .content-box{
    float: left;
    padding-left: 20px;
}
.theme-color-dark {
    background-color: #000758!important;
}