#myTestimonial{
  margin: 30px 0px;
}
#myTestimonial .carousel-inner{
  text-align: center;
  max-width: 70%;
  margin: 0 auto;
}
#myTestimonial  .carousel-inner img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  border: 5px solid #55ecff;
  margin: 10px auto;
  box-shadow: 1px 2px 6.5px #000;
}
#myTestimonial .carousel-indicators{
  position: relative;
}
#myTestimonial .fa-angle-left:before,
#myTestimonial .fa-angle-right:before
{
  color:#000;
}
#myTestimonial .carousel-indicators li{
  background-color: #000;
}